.top-page_blog {
    background-image: url("../../assets//img/Mask Group.png");

    h1 {
        font-size: 44px;
        font-weight: 600;
        line-height: 74px;
    }

    p {
        font-size: 20px;
        line-height: 30px;
        opacity: .4;

    }
}