.top-page_blog {
    background-image: url("../../assets//img/Mask Group.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;

    h1 {
        font-family: 'Gilroy';
        font-size: 44px;
        font-weight: 600;
        line-height: 74px;
        letter-spacing: 0.04em;
    }

    p {
        font-family: 'Gilroy';
        font-size: 20px;
        line-height: 30px;
        opacity: .4;
        letter-spacing: 0.04em;

    }
}